.reply, .post {
  width: 500px;
  background-color: #fff;
  border: 2mm ridge rgba(211, 220, 50, .6);
  box-shadow: inset;
  padding: 10px;
}

.reply-footer, .post-footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.reply-content, .post-content {
  padding: 10px;
}

.comments {
  translate: 50px;
}