.smack-container{
  /* display: flex; */
  border: 4px solid black;
  box-shadow: 4px 4px black;
  border-radius: 12px;
  background-color:rgba(255,255,255,0.3);
  max-width: 700px;
  height: 75vh;
  overflow: scroll;
  /* display: inline-block; */
  margin-bottom: 100px;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 4px solid black;
  box-shadow: 4px 4px black;
  border-radius: 12px;
  gap: 30px; 
  margin: 20px;
  background-color:rgba(255,255,255, 1);
}

.reply{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 4px solid black;
  box-shadow: 4px 4px black;
  border-radius: 12px;
  margin: 20px;
  background-color:rgba(255,255,255, 1);
}

.comments{
  transform: 50px;
  margin-left: 50px;
}

.reply-footer, .post-footer {
  /* display: grid;
  grid-template-columns: 1fr 2fr 1fr; */
  display: flex;
  justify-content: space-between;
}

.reply-content, .post-content {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  word-break: normal;
  overflow-wrap: anywhere;
}

.reply-header,.post-header {
  font-weight: bolder;
}

.reply-content, .post-content{
  margin-left: 20px;
}

@media screen and (max-width: 700px) {
  .smack-container{
    height: 75vh;
    /* margin: 0px 20px 120px 20px; */
    display: inline-block;
  }
  .comments {
    all: unset;
  }

}