.footer-btn-div{
  display: none;
}

@media screen and (max-width: 700px) {
  
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background:rgba(255,255,255,0.5)
  }
  
  .footer-container{
    display: flex;
    flex-direction: column;

  }

  .footer-img{
    bottom: 30px;
    font-size: 100px;
    align-self: center;
    position: absolute;
    width: 85px;
    height: auto;
  }

  .footer-btn-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

}