/* add padding to input fields and top
  font weight for submit & center
  bold on signup
  figure out gap property
   */


.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  height: 100vh;
  width: 100vw;
}

input {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: 200px;
}

.sign-form{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(255,255,255);
  border: 4px solid black;
  box-shadow: -4px 4px black;
  border-radius: 12px;
  padding: 10px;
  height: 45vh;
  width: 35vh;
  padding: 30px;
}

input[type=submit]
{
  background-color: white;
  border: 4px solid black;
  box-shadow: 4px 4px black;
  border-radius: 12px;
  margin-top: 7px;
  font-weight: bold;
  font-size: 20px;
  float: right;
  cursor: pointer;
}

input[type=text],
[type=password]{
  border: 4px solid black;
  border-radius: 12px;
  padding: 7px;
  font-size: 16px;
  /* font-family: 'Inter', sans-serif; */
}