nav{
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background:rgba(255,255,255,0.5);
  z-index: 6;
}

.nav-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-img,
.nav-logo{
  width: 70px;
  padding-top: 20px;
}

.nav-logo{
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;
}
