nav{
  position: fixed;
  float: left;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
  background:rgba(255,255,255,0.5);
}

.nav-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-img{
  width: 70px;
  padding-top: 20px;
}
