
  * {
    font-family: 'Poppins', sans-serif;
  }
  .signIn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow: hidden;
  }
  .signIn{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    padding: 4px;
    width: 300px;
    height: 25vh;
    color: white;
    font-weight: bolder;
    background: #626262;
    border-radius: 20px;
  }
  .signIn-form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .signInInput{
    display: flex;
    justify-content: space-evenly;
  }

@media (max-width: 600px){
}
